@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    background-image: radial-gradient(circle, rgba(245, 111, 33, 0.9), rgba(0, 123, 255, 0.8));
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 600; /* Peso de la fuente */
    color: #333; /* Color del texto */
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500; /* Peso de la fuente */
}

button:hover {
    background-color: #0056b3;
}

.product-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.product-admin span {
    flex: 1;
}

.product-image-admin {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Estilos adicionales para el panel de administración */
.admin-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.admin-header h1 {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600; /* Peso de la fuente */
}

.admin-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.admin-form h2 {
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 500; /* Peso de la fuente */
}

.admin-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.admin-product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.admin-product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
